#animal {
  display: inline-block;
  width: 30%;
  margin:10% 0% 5% 35%;
  border: 7px solid #f9f9f9;
  padding: 3em 1.2em;
  border-radius: 10px;

}

#animal h2 {
  color: #79a8a9;
}

#animal img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#animal ul{
  list-style:none;
  margin-top: 2em;
}

#animal li {
  color: #9b9e9c;
  font-weight: bold;
}
