body {
  background-image: linear-gradient(-141deg, rgba(244,247,247,0.4) 0, rgba(170,207,208,0.4) 27%, rgba(121,168,169,0.5) 52%, rgba(31,78,95,0.6) 100%),
  url(../images/pug.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
}

#animal {
  display: inline-block;
  background-color: rgba(256,256,256,.8);
  width: 30%;
  margin:10% 0% 5% 35%;
  padding: 3em 1.2em;
  border-radius: 10px;

}

#animal h2 {
  color: #79a8a9;
}

#animal img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#animal ul{
  list-style:none;
  margin-top: 2em;
}

#animal li {
  color: #9b9e9c;
  font-weight: bold;
}
